In [1]:
#pandas library is imported to handle files, tabes
#pd denotes pandas where we use in this module in place of pandas
import pandas as pd

In [2]:
#reads dataset using pandas function
dataset = pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      Age     Sex     BMI  Children Smoker      Charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [6]:
#Due to Nominal data present in dataset, Use get_dummies to split (One hot encoding)
#drop_first is used to eliminate 1st column of state as the result will be same even it is dropped and memory consuming is less
dataset = pd.get_dummies(dataset,dtype=int, drop_first = True)
#shows the input dataset
dataset

      Age     BMI  Children      Charges  Sex_male  Smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
dataset.columns
#for viewing all columns of dataset

Index(['Age', 'BMI', 'Children', 'Charges', 'Sex_male', 'Smoker_yes'], dtype='object')

In [8]:
#spliting input and output as independent and dependent
independent=dataset[['Age', 'BMI', 'Children', 'Sex_male', 'Smoker_yes']]
independent

      Age     BMI  Children  Sex_male  Smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
#spliting input and output as independent and dependent
dependent=dataset[['Charges']]
dependent

          Charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [20]:
#Spliting training set and test set using sklearn
from sklearn.model_selection import train_test_split
#X - Input , Y - output
X_Train, X_Test, Y_Train, Y_Test = train_test_split(independent, dependent, test_size = 0.30, random_state=0)

In [21]:
#Using standardization function from sklearn
#Standardization is done for converting large values into a range of values to get better results and save memory
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
#sc.fit_transform used to substitute and calculate mean and standard deviation. By using that it will calculate X_Train
X_Train = sc.fit_transform(X_Train)
#Below we didn't mention "fit" because it will use same mean and standard deviation calculated above
X_Test = sc.transform(X_Test)

In [98]:
#Importing SVM alogorithm from sklearn
#SVR denotes Support Vector for Regression
from sklearn.svm import SVR
Regressor = SVR(kernel="rbf",C=3000)
Regressor.fit(X_Train, Y_Train)

C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=3000)

In [99]:
#to find predicted value from test data
Y_Pred = Regressor.predict(X_Test)

In [100]:
#Evaluate using R2 metrics
from sklearn.metrics import r2_score
#passing actual output of test and predict output to evaluate
R_Score = r2_score(Y_Test, Y_Pred)
#Check R_Score Value
R_Score
#if value near to 1 it is good model , near to 0 bad model

0.8663393965062866